
@use "../../../modules/Form/Form.module.scss" as form_styles;

.loginActions {
  display: flex;
  flex-direction: row;
  gap: 130px;
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

.forgotPasswordText {
  font-size: 0.9rem;
  text-align: left;
  
  a {
    color: #ef4444;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}