@use "../../../modules/Form/Form.module.scss" as form_styles;

.loginText {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  text-align: center;
  color: #4b5563;
  width: 100%;
  max-width: 400px;

  a {
    color: #e74646;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
