.NewArrivalGen {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.NewArrivalUp {
  display: flex;
  flex-direction: column;
  padding-left: 11.5%;
}
.NewArrivalUp .newArrivalStart {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.NewArrivalUp .newArrivalStart h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 4%;
  color: #0d0d0d;
}
.NewArrivalUp .newArrivalStart .NewArrivalBox {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}
.NewArrivalUp .newArrivalStart h2 {
  color: #db4444;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  top: 10px;
}

.NewArrivalLeft {
  position: relative;
  width: 570px;
  height: 600px;
  background: #0d0d0d;
  border-radius: 4px;
  overflow: hidden;
}
.NewArrivalLeft .NewArrivalLeftImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-top: 90px;
}
.NewArrivalLeft .NewArrivalLeftText {
  width: 300px;
  top: 70%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: white;
  padding: 30px;
}

.NewArrivalRight .NewArrivalRightTop {
  position: relative;
  width: 570px;
  height: 600px;
  background: #0d0d0d;
  border-radius: 4px;
  overflow: hidden;
  width: 570px;
  height: 284px;
  border-radius: 4px;
}
.NewArrivalRight .NewArrivalRightTop .NewArrivalRightTopImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-left: 100px;
}
.NewArrivalRight .NewArrivalRightTop .NewArrivalRightToptext {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: white;
  padding: 30px;
  width: 300px;
  gap: 16px;
  top: 30%;
}
.NewArrivalRight .NewArrivalRightUnder {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.NewArrivalRight .NewArrivalRightUnder .NewArrivalRightOne {
  background: #0d0d0d;
  width: 270px;
  height: 284px;
  border-radius: 4px;
}
.NewArrivalRight .NewArrivalRightUnder .NewArrivalRightOne .NewArrivalRightOneImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-top: 3%;
  margin-left: 2.5%;
}
.NewArrivalRight .NewArrivalRightUnder .NewArrivalRightOne .NewArrivalRightOneText {
  top: 50%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: white;
  padding: 30px;
}
.NewArrivalRight .NewArrivalRightTwo {
  display: flex;
  width: 270px;
  height: 284px;
  border-radius: 4px;
  background: #0d0d0d;
}
.NewArrivalRight .NewArrivalRightTwo .NewArrivalRightTwoImg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-top: 3%;
  margin-left: 2.5%;
}
.NewArrivalRight .NewArrivalRightTwo .NewArrivalRightTwoText {
  top: 50%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: white;
  padding: 30px;
}/*# sourceMappingURL=NewArrival.module.css.map */