.container {
  display: flex;
  min-height: auto;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 130px;
  margin-left: 120px;
  

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.imageSection {
  flex: 1;
  background-color: #CBE4E8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 0;
    height: 250px;
  }
}

.image {
  width: 805px;
  height: 650px;
  object-fit: contain;
  border-radius: 1rem;

  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}

.formSection {
  flex: 1;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;


  @media (min-width: 768px) {
    padding: 7rem;
    align-items: flex-start;
    text-align: left;
  }
}

.formHeader {
  text-align: left;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    font-size: 34px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 90;
  }

  p {
    font-size: 1rem;
    color: #4a5568;
    margin-top: 0.5rem;
  }
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 400px;
  margin-left: 0;
  margin-right: 0;
}