:global(.swiper-pagination-bullet-active) {
  border: 2px solid white;
}

.HeaderPart2 {
  display: flex;
  padding: 40px 45px;
  font-family: "Montserrat";

  .HeadersLeft {
    width: 250px;
    margin-right: 40px;
    margin-left: 70px;
    height: 344px;
    display: flex;
    align-items: start;
    justify-content: end;
    font-family: "Montserrat";
    background-color: white;

    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 21px;
      }

      li {
        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        display: block;
      }
    }
  }

  .line2 {
    border: 0.5;
    opacity: 30%;
    width: 0.5px;
    height: 384px;
    margin-top: -40px;
    background-color: black;
  }

  .HeadersMostRight {
    margin-left: 45px;
    background-color: black;
    color: white;
    width: 100%;
    max-width: 950px;
    position: relative;
    height: 344px;
    display: flex;
    justify-content: start;
    flex-direction: column;

    .HeaderText {
      position: absolute;
      top: 58px;
      left: 58px;

      .HeadersLogoApple {
        display: flex;
        margin-left: 20px;
        align-items: center;

        img {
        }
        p {
          font-size: 16px;
        }
      }
      .headertext2H1 {
        font-size: 48px;
        padding: 20px;
      }
      p {
        font-size: 16px;
        margin-left: 23px;

        img {
          margin-left: 5px;
        }
      }
    }
    .HeadersMostRightRight {
      img {
        position: absolute;
        background-color: black;
        right: 0;
        top: 16px;
      }
    }
  }
}
