.NotFound {
  font-family: "Montserrat";
  .breadcrumb {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: end;
    padding-left: 131px;

    .link {
      cursor: pointer;
    }
  }
  .Not404 {
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 500;
      font-size: 110px;
      padding-top: 40px;
    }
    p{
      margin-top: 40px;
    }
    button{
      cursor: pointer;
      padding: 16px 80px;
      background-color: #DB4444;
      color: white;
      margin-top: 80px;

    }
  }
}
