header {
  .WrapperHeader {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Montserrat";

    .upHeader {
      font-size: 14px;
      font-weight: 400;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      gap: 231px;

      .text {
        .text1 {
          display: flex;
          gap: 11px;

          a {
            color: white;
            display: flex;
          }
        }
      }
      .languageSelector {
        .enSvg {
          width: 78px;
          height: 24px;
          display: flex;
          background-color: black;
          color: white;
          cursor: pointer;
          gap: 10px;
        }
        .langDropDown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          flex-direction: column;
          z-index: 10;
          button {
            display: flex;
            background-color: black;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
  .downHeader {
    display: flex;
    width: 100%;
    height: 84px;
    align-items: center;
    justify-content: space-evenly;
    margin-right: auto;
    max-width: 1440px;
    margin-left: auto;
    font-family: "Montserrat";
    margin-top: 10px;
    background-color: white;

    h2 {
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 367px;
      height: 24px;
      gap: 40px;
      li {
        list-style: none;
        white-space: nowrap;
        a {
          text-decoration: none;
          color: black;
        }
        .activeLink {
          position: relative;
          display: inline-block;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -4px; // регулируй отступ вниз
            height: 0.8px;
            background-color: #000000; // или нужный цвет
          }
        }
      }
    }

    .inputWrapper {
      display: flex;
      gap: 24px;
      .InInputWrapper {
        width: 243px;
        height: 38px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        border-radius: 4px;

        input {
          width: 100%;
          height: 100%;
          opacity: 50%;
          font-size: 12px;
          background-color: #f5f5f5;
          border-radius: 4px;
          padding-left: 20px;
          transition: all 0.2s ease;
          font-weight: 400;
        }
        .searchSvg {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 9px;
          right: 9px;
        }
      }

      .LastImages {
        width: 80px;
        height: 32px;
        display: flex;
        gap: 16px;
        img {
          font-size: 32px;
        }
      }
    }
  }

  .line {
    width: 100%;
    border: 0.5;
    opacity: 30%;
    height: 0.5px;
    background-color: black;
  }
}

.wrapperFav {
  position: relative;
  .countFav {
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 10px;
  }
}
