
.bonjourGen {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  height: 161px;
  flex: 1;
   &:hover {
    img {
      transform: scale(1.2);
      transition: transform 1s ease
    }
    h1{transform: scale(1.05);}
    p{transform: scale(1.05);}
  }
  h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    transition: transform 0.5s ease
  }
  p {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    transition: transform 0.7s ease
  }
}
